<a href="https://colab.research.google.com/github/DwarapureddySanjay/Python-new/blob/module3/pandaas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as m
h={
    "names":["ram","surya","lakshman"],
    "marks": [18, 9, 17]
}
y=m.DataFrame(h)
print(y)

      names  marks
0       ram     18
1     surya      9
2  lakshman     17

In [ ]:
import pandas as n
g=["sugar", "kajju", "salt"]
f=n.Series(g,index=["day1","day2","day3"])
print(f)

day1    sugar
day2    kajju
day3     salt
dtype: object

In [ ]:
import pandas as n
g=["h","y", "u"]
f=n.Series(g,index=["day1","day2","day3"])
print(f)
print("day2")

day1    h
day2    y
day3    u
dtype: object
day2

In [ ]:
import pandas as b
f={"fun":56 ,"umn":67}
j=b.Series(f,)
print(j)

fun    56
umn    67
dtype: int64

In [ ]:
import pandas as n
f={
    "gum":["1kg",3,4],
    "red":[4,6,7]
}
u=n.DataFrame(f,index=["day1","day2","day3"])
print(u)

      gum  red
day1  1kg    4
day2    3    6
day3    4    7

In [ ]:
import pandas as n
f={
    "gum":["1kg",3,4],
    "red":[4,6,7]
}
u=n.DataFrame(f,index=["day1","day2","day3"])
print(u.loc["day3"])

gum    4
red    7
Name: day3, dtype: object